<header class='top-page-header'>
  <div class='bar-contents'>
    <%= link_to image_tag("108739.png", class:"snow-icon"), "/" %>
  </div>
  <div class='title'>
  SNOW-MONEY
  </div>
  <div class='nav'>
      <ul class='lists-left'>
      <%# <デバイス導入後、さらに編集> %>
        <li><%= link_to 'ユーザー名' %></li>
        <li><%= link_to 'ログアウト' %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
      <%# <デバイス導入後、さらに編集> %>
      </ul>
   </div>
</header>